<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freshers Template</title>
    <link rel="stylesheet" href="../assets/bootstrap.min.css">
    <link rel="stylesheet" href="../styles.css">
    <style>
        body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #222;
        }

        h2 {
            color: #17a2b8;
        }

        h3 {
            border-bottom: 2px solid #17a2b8;
            padding-bottom: 5px;
        }

        p {
            margin-bottom: 10px;
        }

    </style>
</head>
<body>
    <div class="container">
        <h2>{{name}}</h2>
        <p>Email: {{email}}</p>
        <p>Phone: {{phone}}</p>
        <h3>Education</h3>
        <p>{{education}}</p>
        <h3>Achivement</h3>
        <p>{{achivements}}</p>
        <h3>Projects</h3>
        <p>{{projects}}</p>
        <h3>Work Experience</h3>
        <p>{{experience}}</p>
        <h3>Skills</h3>
        <p>{{skills}}</p>
    </div>
</body>
</html>
